/* Cascade Style Sheet for this website */

body {
	width: 800px;
	margin: auto;
	font-size: 12px;
	color: darkgray;
	background-color: white;
}
.header {
	text-align: center;
	font-size: 48px;
	color: black;
}
.menu {
	list-style-type: none;
	padding: 0px;
}
.menu li{ 
	display: inline-block;
	padding: 5px;
	margin-right: 5px;
	border: 1px solid darkblue;
	border-radius: 2px;
	background-color: blue;
}
.menu li a{
	color: white;
	text-decoration: none;
}
.menu li:hover{
	background-color: navy;
}
.menu li:active{
	background-color: darkblue;
}
.foot {
	color: white;
	background-color: black;
	text-align: right;
}
.form input {
	width: 400px;
	resize: none;
}
.form textarea {
	width: 400px;
	resize: none;
	margin-left: 110px;
}
.form input[type="radio"], input[type="submit"] {
	width: auto;
}
.form label{
	display: inline-block;
	width: 100px;
	padding: 5px;
	text-align: left;
}
.error { 
	color: red; 
}
.errordiv {
	margin-left: 110px;
	margin-bottom: 10px;
}
.submitbutton {
	margin-left: 110px;
}
.productimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-height: 200px;
	width: auto;
	border-radius: 2px;

}
.title {
	text-align: center;
	font-size: 30px;
	color: black;
	margin-top: 10px;
	text-decoration: none;
}
.price {
	text-align: center;
	font-size: 30px;
	color: darkred;
	margin-right: 12px;
	margin-bottom: 12px;
	text-decoration: none;
}
.cart {
	text-align: center;
	margin-top: 10px;
}
.cart a {
	text-decoration: none;
	color: darkgray;
}
.cartButton {
	display: block;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	width: 50%;
	background-color: lightskyblue;
}
.cartButton:hover{
	background-color: deepskyblue;
}
.cartButton:active{
	background-color: lightskyblue;
}
.cartcontainer{
	width: 100%;
	height: 85%;
}
.cartitems{
	margin: auto;
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.imagecontainer{
	height: 90%;
	width: 20%;
	text-align: left;
	padding-right: 30px;
	padding-bottom: 10px;
}
.about{
	height: 100%;
	width: 60%;
	margin-left: 10px;
}
.itemtitle{
	font-size: 20px;
	padding-top: 5px;
}
.itemprice{
	text-align: left;
	font-size: 20px;
	color: darkred;
	margin-right: 12px;
	margin-bottom: 12px;
}
.countcontainer{
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: auto;
}
.count {
	width: 40px;
	height: 25px;
	box-sizing: border-box;
	border: 2px solid darkgray;
	border-radius: 2px;
	resize: none;
	text-align: center;
	font-size: 17px;
}
.pricetotalcontainer{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	height: 100%;
	text-align: right;
}
.priceitemtotal{
	font-size: 30px;
	color: darkred;
	padding-top: 5px;
	text-align: right;
}
.accept {
	text-align: center;
	color: black;
}